.colorg
  color: #78B62E

.colorb
  color: #3C6D9D

.colorw
  color: #fff

.bgrfondointro
  background: linear-gradient(90deg, rgba(178,177,177,1) 0%, rgba(208,206,206,1) 50%, rgba(226,226,226,1) 100%);

.bgrmodalciclo
  background: linear-gradient(45deg, rgba(19,61,96,1) 0%, rgba(45,95,136,1) 50%, rgba(67,125,173,1) 100%);

.bgrimgintro
  background-image: url("../assets/curso/fond_banner_intro_2.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bgrimg1_3
  background-image: url("../assets/curso/tema1/img_agrup_1_3.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 5%

.bgrtext1_4
  background-color:#E8EEF3

.bgrtext1_4_1
  background-color:#274869
  border-radius: 20%
.bgrtext1_4_2
  background-color:#E8EEF3
  border-radius: 20%


.flex-container
  display: flex
  background-image: url("../assets/curso/tema1/banner_1-3.svg")
    
.flex-container > div 
  background-color: #f1f1f1
  margin: 10px
  padding: 20px
  font-size: 30px
    
